<script src="../patient-details/patient-details.component.ts"></script>
<care-header [title]="'PATIENTS.PATIENT_PROFILE'" [showBack]="true">
  <ion-button slot="'icon-only'"
              (click)="onStartEdit()">
    <span class="icon icon-care-edit"></span>
  </ion-button>
</care-header>

<ion-content>
  <p *ngIf="errors$ | async" class="errorMessage">
      <span *ngFor="let error of (errors$ | async)">
        {{error | translate}}
      </span>
  </p>
  <div class="patient-details">
    <div class="patient-details-header pt16">
      <ion-grid class="p16">
        <ion-row>
          <ion-col size="4">
            <care-patient-image
              [patient]="patient"
              [imageSrc]="patient.image"></care-patient-image>
          </ion-col>
          <ion-col>
            <h1 class="fs20pt care-darkgreen">{{patient.firstName}} {{patient.lastName}}</h1>
            <div class="text-muted pb8">
              <p class="m0 p0">Geldspeicherstr. 2</p>
              <p class="m0 p0">12345 Entenhausen</p>
            </div>
            <div class="text-muted">
              <p class="p0 m0">Patient weight: 55kg</p>
              <p class="p0 m0">Patient height: 165cm</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="separator"></div>

    <div class="patient-details-body p16">
      <div class="df aic">
        <div class="fg2">
          <h2 class="fs16pt care-darkgray">Altersheim</h2>
          <div class="care-gray">
            <div>Seniorenheim Maiwald</div>
            <div>29 Denkmalstraße</div>
            <div>64658 Fürth</div>
          </div>
        </div>
        <div>
          <ion-button class="btn-call">
            <i class="fs32pt icon icon-care-phone-filled"></i>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="patient-details-body p16">
      <div class="df aic">
        <div class="fg2">
          <h2 class="fs16pt care-darkgray">Hausarzt</h2>
          <div class="care-gray">
            <div>Dr. Peter Heinrich</div>
            <div>Amalienstraße 65</div>
            <div>90763 Fürth</div>
          </div>
        </div>
        <div>
          <ion-button class="btn-call">
            <i class="fs32pt icon icon-care-phone-filled"></i>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="patient-details-body p16">
      <div class="df aic">
        <div class="fg2">
          <h2 class="fs16pt care-darkgray">Tochter</h2>
          <div class="care-gray">
            <div>Maria Mayer</div>
            <div>Türkenstraße 6</div>
            <div>80796 München</div>
          </div>
        </div>
        <div>
          <ion-button class="btn-call">
            <i class="fs32pt icon icon-care-phone-filled"></i>
          </ion-button>
        </div>
      </div>
    </div>


  </div>
</ion-content>
