<ion-app>
  <ion-header>
    <ion-toolbar [color]="'primary'">
      <ion-title>
        {{'AUTH.New Password' | translate}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onSubmit()"
                    [disabled]="!passwordForm.valid || !passwordForm.dirty || !user || (isPending$ | async)">
          <ion-icon [name]="'checkmark'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="passwordForm">
      <p *ngIf="errors$ | async" class="errorMessage">
        <span *ngFor="let error of (errors$ | async)">
          {{error | translate}}
        </span>
      </p>

      <ion-list>
        <ion-item>
          <ion-label [color]="'primary'" [position]="'floating'">
            {{'AUTH.Password' | translate}}
          </ion-label>
          <ion-input [formControlName]="'password'"
                     type="password" [minlength]="8"
                     required></ion-input>
        </ion-item>
        <care-too-short-message
          [field]="'password'"
          [form]="passwordForm"></care-too-short-message>
        <care-required-message
          [field]="'password'"
          [form]="passwordForm"></care-required-message>

        <ion-item>
          <ion-label [color]="'primary'" [position]="'floating'">
            {{'AUTH.Confirm Password' | translate}}
          </ion-label>
          <ion-input [formControlName]="'password_confirmation'"
                     [minlength]="8"
                     type="password"
                     required></ion-input>
        </ion-item>
        <care-required-message
          [field]="'password_confirmation'"
          [form]="passwordForm"></care-required-message>
        <care-too-short-message
          [field]="'password_confirmation'"
          [form]="passwordForm"></care-too-short-message>
        <care-pw-not-identical-message
          [form]="passwordForm"
          [passwordField]="'password'"
          [confirmField]="'password_confirmation'">
        </care-pw-not-identical-message>

      </ion-list>
    </form>
  </ion-content>
</ion-app>
