<care-header [title]="'PATIENTS.CONFIGURATION.BatteryAlarm'" [showBack]="true"></care-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'PATIENTS.CONFIGURATION.BatteryAlarm' | translate}}</ion-label>
      <ion-toggle checked disabled
                  color="primary" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

  <div class="p16">
    <p>{{'PATIENTS.CONFIGURATION.BATTERY_TEXT_P1' | translate}}</p>
    <p>{{'PATIENTS.CONFIGURATION.BATTERY_TEXT_P2' | translate}}</p>
  </div>
</ion-content>
